.task-card {
  background-color: #E2E2F3;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #D4D4ED;
  width: 350px;
  margin-bottom: 14px;
  transition: 0.2s ease-in-out;
  opacity: 0.9;
  &:hover {
    transition: 0.2s ease-in-out;
    opacity: 1;
  }
  .top-card {
    .task-title {
      margin-top: 0;
      margin-bottom: 0;
      color: #6262BC;
      font-weight: 800;
      font-size: 18px;
      margin-left: 8px;
    }
    .done {
      font-size: 24px;
      color: #e3fdf0;
    }
    .deadline {
      font-size: 14px;
      color: #B8B8E0;
    }
    .trash {
      background-color: #E3E3F3;
      padding: 6px;
      box-shadow: 0px 0px 16px #C5C5E7;
      border-radius: 10px;
      border: 1px solid #D4D4ED;
      color: #7E7EC9;
      transition: 0.3s ease-in-out;
      height: fit-content;
      margin-bottom: 2px;
      &:hover {
        box-shadow: 0px 0px 0px #C5C5E7;
        transition: 0.3s ease-in-out;
      }
    }
  }
  .comment {
    background-color: white;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #F1F1F9;
    margin-bottom: 3px;
    justify-content: space-between;
    align-items: center;
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14px;
    }
    .delete {
      color: #6262BC;
      margin-left: 13px;
      text-decoration: none;
      opacity: 0.8;
      &:hover {
        transition: 0.2s ease-in-out;
        opacity: 1;
      }
    }
  }
  #new_comment {
    border-radius: 20px;
    border: none;
    color: #6262BC;
    outline: none !important;
    input[type="text"] {
      font-size: 14px;
      color: #6262BC;
    }
  }
}


.todo-card {
    background-color: #99B8FF;
    border: 1px solid #5C8DFF;
    .top-card {
      .task-title {
        color: #3370FF;
      }
      .todo {
        font-size: 24px;
        color: #FBBBB1;
      }
      .deadline {
        color: #5C8DFF;
      }
      .trash {
        background-color: #99B8FF;
        box-shadow: 0px 0px 16px #5C8DFF;
        border: 1px solid #5C8DFF;
        color: #3370FF;
        &:hover {
          box-shadow: 0px 0px 0px #5C8DFF;
        }
      }
    }
    .comment {
      .delete {
        color: #3370FF;
      }
    }
    #new_comment {
      color: #5C8DFF;
      input[type="text"] {
        color: #5C8DFF;
      }
    }

  }


  .urgent-card {
    background-color: #FEF9D7;
    border: 1px solid #FBEB74;
    .top-card {
      .task-title {
        color: #DAC107;
      }
      .todo {
        font-size: 24px;
        color: #FBBBB1;
      }
      .deadline {
        color: #DAC107;
      }
      .trash {
        background-color: #FEF9D7;
        box-shadow: 0px 0px 16px #FBEB74;
        border: 1px solid #FBEB74;
        color: #DAC107;
        &:hover {
          box-shadow: 0px 0px 0px #FBEB74;
        }
      }
    }
    .comment {
      .delete {
        color: #DAC107;
      }
    }
    #new_comment {
      color: #DAC107;
      input[type="text"] {
        color: #DAC107;
      }
    }

  }


.session-form {
  width: 400px;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  padding: 15px 20px;
  border-radius: 20px;
  border: 1px solid #FBBBB1;
  #session-title {
    width: 180px;
    margin: auto;
  }
}


.links {
  text-align: center;
  margin-top: 30px;
  a {
    text-decoration: none;
    color: #FBBBB1;
    &:hover {
      color: #FF5A5F;
    }
  }
}









